@model Chessboard

@{
    ViewBag.Title = "Local search algorithms";
    var queenImageLink = "https://github.com/matpiwowarski/Local-Search-Algorithms/blob/master/N_Queens_problem/N_Queens_problem/Resources/queen.png?raw=true";
    var imgSize = "90px";

    if (Model.Size > 10)
    {
        imgSize = "30px";
    }
    else if (Model.Size > 8)
    {
        imgSize = "40px";
    }
    else if (Model.Size > 6)
    {
        imgSize = "50px";
    }
    else if (Model.Size > 4)
    {
        imgSize = "60px";
    }

    void CheckIfQueenOrEmpty(ChessPiece[,] board, int i, int j)
    {
        if (board[i, j] == ChessPiece.Queen)
        {
            <img src=@queenImageLink alt="QUEEN" style="height: @imgSize; width: @imgSize;">
        }
        else
        {
            <img style="height: @imgSize; width: @imgSize;">
        }
    }

}
<h2>N-queens problem - @ViewBag.Title</h2>

<div class="row">
    <div class="col-8">
        <center>
            @* DISPLAY CHESSBOARD*@
            <h3>Chessboard size: @Model.Size x @Model.Size</h3>
            @{
                for (int i = 0; i < Model.Size; i++)
                {
                    for (int j = 0; j < Model.Size; j++)
                    {
                        if (i % 2 == 0)
                        {
                            if (j % 2 == 0)
                            {
                                <div style="height: @imgSize; width: @imgSize; background-color: lightgray; display:inline-block;">
                                    @{
                                        CheckIfQueenOrEmpty(Model.Board, i, j);
                                    }
                                </div>
                            }
                            else
                            {
                                <div style="height: @imgSize; width: @imgSize; background-color: orange; display:inline-block;">
                                    @{
                                        CheckIfQueenOrEmpty(Model.Board, i, j);
                                    }
                                </div>
                            }
                        }
                        else
                        {
                            if (j % 2 == 0)
                            {
                                <div style="height: @imgSize; width: @imgSize; background-color: orange; display:inline-block;">
                                    @{
                                        CheckIfQueenOrEmpty(Model.Board, i, j);
                                    }
                                </div>
                            }
                            else
                            {
                                <div style="height: @imgSize; width: @imgSize; background-color: lightgray; display:inline-block;">
                                    @{
                                        CheckIfQueenOrEmpty(Model.Board, i, j);
                                    }
                                </div>
                            }
                        }
                    }
                    <br />
                }
            }
            <p>@Html.ActionLink("Clear", "LocalSearchAlgorithms", new { size = @Model.Size })</p>
            <p>Heuristic: @Model.HeuristicResult</p>
        </center>
    </div>
    <div class="col-4">
        <center>
            @using (Html.BeginForm("ChangeBoardgameSize", "Home", FormMethod.Post))
            {
                <b><label for="SizeSelect">Select Size</label></b>
                <select class="form-control" id="SizeSelect" name="SizeSelect">
                    <option value="4">4x4</option>
                    <option value="5">5x5</option>
                    <option value="6">6x6</option>
                    <option value="7">7x7</option>
                    <option value="8">8x8</option>
                    <option value="9">9x9</option>
                    <option value="10">10x10</option>
                    <option value="11">11x11</option>
                    <option value="12">12x12</option>
                </select>
                <button type="submit" class="btn btn-primary" style="margin-top: 15px; margin-bottom: 15px">
                    Change Size
                </button>
            }

            @using (Html.BeginForm("DoAlgorithm", "Home", FormMethod.Post))
            {
                <b><label for="AlgorithmSelect">Select Algorithm</label></b>
                <select onchange="selectAlgorithm()" class="form-control" id="AlgorithmSelect" name="AlgorithmSelect">
                    <option value="Hill Climbing">Hill Climbing</option>
                    <option value="Simulated Annealing">Simulated Annealing</option>
                    <option value="Local Beam Search">Local Beam Search</option>
                    <option value="Genetic">Genetic</option>
                </select>

                <div id="LocalBeamSearchParameters" style="display: none;">
                    <label for="NumberOfStates" style="margin-top: 10px;">Number of states</label>
                    <input class="form-control" id="NumberOfStates" name="NumberOfStates" type="text" value="20" />
                </div>

                <div id="HillClimbingParameters" style="display: block;">
                    <label for="MaxSteps" style="margin-top: 10px;">Maximum number of steps</label>
                    <input class="form-control" id="MaxSteps" name="MaxSteps" type="text" value="50" />
                </div>

                <div id="SimulatedAnnealingParameters" style="display: none;">
                    <label for="StartingTemperature" style="margin-top: 10px;">Starting Temperature</label>
                    <input class="form-control" id="StartingTemperature" name="StartingTemperature" type="text" value="10000" />
                    <label for="CoolingFactor" style="margin-top: 10px;">Cooling Factor</label>
                    <input class="form-control" id="CoolingFactor" name="CoolingFactor" type="text" value="1" />
                </div>

                <div id="GeneticParameters" style="display: none;">
                    GeneticParameters
                </div>

                <button type="submit" class="btn btn-success" style="margin-top: 15px">
                    Execute
                </button>
            }

        </center>
    </div>
</div>
<footer>
    <center>
        <h4 style="display: inline;"> Problem Solved: </h4>
        @if (Model.IsSolved)
        {
            <h3 style="color: green; display: inline;">True</h3>
        }
        else
        {
            <h3 style="color: red; display: inline;">False</h3>
        }
    </center>
</footer>

<script>
    document.getElementById("MaxSteps").defaultValue = "@Model.MaximumNumberOfSteps";
    document.getElementById("StartingTemperature").defaultValue = "@Model.StartingTemperature";
    document.getElementById("CoolingFactor").defaultValue = "@Model.CoolingFactor";
</script>
